/* CSS */
.georgia{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
  }
  /* CSS */
.georgiaa{
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
  }
/* CSS */
.header{
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #000000;
}
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  nav li a {
    padding: 10px;
    display: block;
    color:#ffffff;
    text-decoration: none;
    background-color: #ff0000;
  }
  nav li a:hover{
    background-color: #af0000;
    color: #ffffff;
    text-decoration: none;
  }
  nav li {
    display: inline-block;
  }

  .floatimg {
    float: left;
    border: 2px solid #000000;
    padding: 6px;
  }

 /* CSS */
 footer{
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    font-variant: italic;
 }

  /* CSS */
a {
    color: #ff0000;
    text-decoration: none;
    font-weight:bold;
  }
  
  a:hover {
    color: #4800ff;
    text-decoration: underline;
    width: 250px;
  }        

  /* CSS */
  .header{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

   /* CSS */
   .headerr{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 300px;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

body {
  background-color: #ececec94;
  background-image: url(a62.png);
}



#columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #ffffff;
}

.header {
grid-column: span 8;
border: 2px solid #000000;
}

nav {
grid-column: span 1;
border: 2px solid #000000;
color: #000000;
 background-color: #ffffff;

}

main {
grid-column: span 7;
border: 2px solid #000000;
color: #000000;
    background-color: #ffffff;
    padding: 6px;
}

footer {
grid-column: span 8;
border: 2px solid #000000;
}

