/* CSS */
.Thefiresofpompeii {
    color: #0505ff;
  }

  /* CSS */
.thedoctorsdaughter {
    color: #ff0505;
    background-color: #c3dd00;
  }

  /* CSS */
.fathersday {
    color: #ffee00;
    background-color: #067800;
  }

  /* CSS */
.imthedoctor{
    color: #ff7300;
  }

  /* CSS */
.thepoisonsky{
    color: #ffffff;
    background-color: #00c9d3;
   }

   /* CSS */
   .Inferno{
    background-color: #c3dd00;
   }

   /* CSS */
   .itsart{
    background-color: #62d377;
   }

   /* CSS */
   .youve{
    background-color: #c3dd00;
   }

   /* CSS */
.thedefault{
    background-color: #04c9d3;
   }

    /* CSS */
.insistently{
    background-color: #04c9d3;
   }
   