/* CSS */
.CreativeTechnologiesProgramCTK{
    color: #0505ff;
  }

  /* CSS */
.retentionrequirements{
    color: #0505ff;
  }

  /* CSS */
.creativetechnologiesctk{
    color: #0505ff;
  }

  /* CSS */
.two{
    color: #2605ff;
    background-color: #ff0000;
  }

   /* CSS */
.three{
    color: #2605ff;
    background-color: #ff0000;
  }

  /* CSS */
.web{
    color: #ff0505;
  }

  /* CSS */
.theory{
    color: #2f01fb;
  }
  
  /* CSS */
.creativetechnologiescourses{
    color: #2605ff;
    background-color: #ff0000;
  }

  /* CSS */
a {
  color: #ff0000;
}

a:link {
  color: #ff0000;
}

a:visited {
  color: #00f829;
}

a:active {
  color: #fb0000;
}


a:hover {
  color: #ffff00;
}        