body {
    background-color: #ececec94;
    background-image: url(a5bg.png);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li a{
    padding: 20px;
    width: 150px;
    display: block;
    color:#ffffff;
    text-decoration: none;
    background-color: #2f00ff;
}
nav li a:hover{
    background-color: #00d9ff;
    color: #ffffff;
    text-decoration: none;
}
nav li {
    display: inline-block;
    background-color: #2f00ff;
}

 /* CSS */
 .box{
    color: #000000;
    background-color: #ffffff;
  }

/* CSS */
.h1{
    color: #000000;
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-style:normal;
    text-align: justify;
    font-weight:normal;
  }
/* CSS */
.h2{
    font-family: Helvetica, sans-serif;
    font-style: bold;
    text-align: justify;
    color: #000000;
    background-color: #ffffff;
}

  /* CSS */
 footer{
    color: #ffffff;
    background-color: #12009e;
    padding: 10px;
    text-align-last: center;
    font-family: Verdana, Geneva, Tahoma, sans-serifs;
    border: 3px solid #ffffff;
    font-variant: italic, bold;
  }

  /* CSS */
a {
    color: #2600ff;
    text-decoration: none;
    font-weight:bold;
  }
  
  a:hover {
    color: #ff0000;
    text-decoration: underline;
  }        
  